/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

body {
  background-color: var(--main-color);
  background-image: 
    repeating-linear-gradient(90deg, var(--background-gradient-main), var(--background-gradient-main) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, var(--background-gradient-main), var(--background-gradient-main) 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, var(--background-gradient-additional-linear), var(--background-gradient-additional-linear-two));
  background-size: cover;
  background-attachment: fixed;
  font-family: InterVariable;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.header {
  max-width: 700px;
  min-height: 368px;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.header__theme-menu {
  font-family: PressStart;
  font-weight: 400;
}

.layout-header {
  font-size: 65px;
  margin-bottom: 20px;
}

.layout-header__description {
  text-align: center;
  font-size: 23px;
  margin-bottom: 25px;
}

.main {
  max-width: 700px;
}

.main__theme {
  border: 2px solid var(--additional-color);
  color: var(--additional-color);
  background-color: var(--main-color);
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card {
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__header {
  border-bottom: 2px solid var(--additional-color);
  width: 100%;
  padding: 3px 10px;
}

.card__image-wrapper {
  position: relative;
}

.card__image-label {
  font-family: PressStart;
  display: block;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 25px;
  right: 25px;
  color: var(--additional-color);
  -webkit-text-stroke: 1px var(--main-color);
  font-size: 14px;
  font-weight: 400;
}

.card__image {
  display: block;
  width: 100%;
}

.card__description {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__like {
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: auto;
}

.like__button {
  width: 130px;
  height: 38px;
  font-size: 14px;
  font-family: PressStart;
  background: transparent;
  border: 2px solid var(--additional-color);
  position: relative;
  color: var(--additional-color);
}

.button__hover::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  background-color: var(--additional-color);
  width: 100%;
  left:-100%;
  top:0;
  transition: 0.3s;
  z-index: -5;
}

.button__hover {
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: 0.3s;
}

.button__hover:hover .floppy {
  color: white;
}

.button__hover:hover::before {
  cursor: pointer;
  left: 0;
}

.button__hover:hover {
  cursor: pointer;
  color: var(--main-color);
}

.button__hover:focus {
  box-shadow: 5px 5px 0px 0px var(--additional-color);
  outline: none;
}

/* .like__button:focus {
  box-shadow: 5px 5px 0px 0px var(--additional-color);
  outline: none;
}

.like__button:hover {
  cursor: pointer;
  color: var(--main-color);
} */

#modal {
  width: 357px;
  height: 193px;
  font-family: PressStart;
  padding: 30px;
  background: var(--main-color);
  border: 2px solid var(--additional-color);
  overflow: hidden;
}

#modal::backdrop {
  background-color: black;
  opacity: 0.5;
}

.modal-info {
  display: flex;
  color: var(--additional-color);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.modal-info span {
  width: 234px;
  margin-left: 20px;
  line-height: 21px;
}

.modal-button {
  width: 100%;
  height: 38px;
  border: 2px solid var(--additional-color);
  color: var(--additional-color);
  font-size: 14px;
  background-color: var(--main-color);
}

.floppy {
  color: var(--additional-color);
  transition: 0.3s;
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save__button {
  max-width: 335px;
  height: 51px;
  font-size: 14px;
  border: 2px solid var(--additional-color);
  color: var(--additional-color);
  background-color: var(--main-color);
  width: 100%;
  font-family: PressStart;
  margin-top: 52px;
  margin-bottom: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save__button .floppy {
  margin-right: 8px;
}

.main-body {
  transition: 0.3s;
}

.core {
  transition: 0.3s;
}

.like-icon {
  margin-right: 8px;
}

.like-icon:hover .core {
  fill: var(--additional-color);
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .main-body {
  fill: var(--additional-color);
  transition: fill 0.3s 0.1s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.1s linear;
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s 0.1s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.1s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
}

.like-icon.is-liked .sparks {
  animation:  sparks-animation 0.3s ease-in;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}

.card__icon-button:hover {
  cursor: pointer;
}






.like-icon.is-liked {
  animation: scale-animation 0.3s infinite;
  animation-iteration-count: 1;
  animation-delay: 0.3s;
}

@keyframes scale-animation {
  0% {
      transform: scale(1);
  }
  99% {
      transform: scale(1.5);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes sparks-animation {
  0% {
      fill: var(--heart-color);
  }

  100% {
    fill: transparent;
  }
}

/* .animated-svg {
  width: 100px;
  height: 100px;
  animation: scale-animation 2s infinite;
} */




/* .like-icon:hover .fullHeart {
  display: none;
} */